.main {
  position: relative;
  z-index: 1;
  width: 500px;
  margin: -180px auto 0;
  h1 {
    color: #fff;
    font-size: 32px;
    text-transform: uppercase;
    margin: 0;
    letter-spacing: 8px;
  }
}